h1 {
      color: #cc0d0d;
    font-size: 25px;
    /* border: 2px solid black; */
    /* padding: 10px 15px; */
    /* border-radius: 15px; */
}
/* a:hover {
    background: rgb(18, 27, 160);
    color: #fff;
} */


.myBtn {
    text-decoration: none;
    font-size: 25px;
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 15px;
    color: #fff;
    background: rgb(131, 16, 207);
    letter-spacing: 1,5px
}
.myBtn:hover {
    background: rgb(20, 1, 22);
    color: #fff;
}